# Data manipulation and analysis
pandas==1.5.3
numpy==1.24.3

# Data visualization
matplotlib==3.7.1
seaborn==0.12.2

# Machine Learning
scikit-learn==1.2.2

# Jupyter Notebook (for interactive development)
jupyter==1.0.0

# Logging
loguru==0.7.0

# Deep Learning (optional, in case of neural networks)
tensorflow==2.13.0   # OR
torch==2.0.1


# Database 
pymongo = 4.4.1